
    <!--상단바-->
    <nav class="navbar navbar-expand-sm" style="background-color: transparent;">
        <div class="container-fluid d-flex justify-content-center">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 25px; color: #000000;">로고</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size: 25px; color: #000000;">채용공고</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size: 25px; color: #000000;">이벤트</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size: 25px; color: #000000; margin-right: 120px;">고객센터</a>
                </li>

                <li class="nav-item d-flex align-items-center">
                    <img src="/images/돋보기.png" alt="" style="margin-right: 5px;">
                    <img src="/images/이력서.png" alt="" style="margin-right: 10px;">
                    <button type="button" class="btn btn-secondary btn-lg" style="margin-right: 5px;">회원가입</button>
                    <button type="button" class="btn btn-secondary btn-lg">로그인</button>
                </li>
            </ul>
        </div>
    </nav>
    <!--상단바-->

    <!--구분선-->
    <hr style="border-color: #000000;">
    <!--구분선-->

    <div class="event">이벤트</div>


    <!--이벤트 이미지-->
    <div class="event-image">
        <a href="http://www.naver.com">
            <img src="/images/이미지.png">
        </a>
    </div>

    <div class="event-image">
        <a href="http://www.naver.com">
            <img src="/images/이미지.png">
        </a>
    </div>

    <div class="event-image">
        <a href="http://www.naver.com">
            <img src="/images/이미지.png">
        </a>
    </div>
    <!--이벤트 이미지-->

