

<div class="wrap2">
  <div class="login2">
      <h2>로그인</h2>
      
      <div class="login_id">
          <h4>아이디</h4>
          <input type="email" name="" id="" placeholder="아이디를 입력하세요">
      </div>
      <div class="login_pw">
          <h4>비밀번호</h4>
          <input type="password" name="" id="" placeholder="비밀번호를 입력하세요">
      </div>
     
      <div class="submit ">
          <input type="submit" value="submit">
      </div>
  </div>
</div>
