
    <div class="frame">
        <div class="header">
            <h1><strong>고객센터</strong></h1>
            <button class="contact-button">문의하기</button>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="card box">
                <div class="form">개인회원 FAQ</div>
                <div class="form1">1. 로그인은 어떻게 하나요?</div>
                <div class="form1">2. 회원수정은 어떻게 하나요?</div>
                <div class="form1">3.회원 정보 수정은 어떻게 할 수 있나요?</div>
                <div class="form1">4. 계정 비밀번호를 변경하는 방법을 알려주세요.</div>
            </div>
            <div class="card box">
                <div class="form ">기업회원 FAQ</div>
                <div class="form1 form-control">1. 기업회원으로 가입하려면 어떻게 해야 하나요?</div>
                <div class="form1">2.회원 정보 수정은 어떻게 할 수 있나요?</div>
                <div class="form1">3. 기업 계정의 보안 강화를 위한 방법은 무엇인가요?</div>
                <div class="form1">4. 기업회원 탈퇴 절차를 알려주세요.</div>
            </div>
        </div>
        <hr>

        <div class="card box2">
            <div>
                <div class="form ">Q&A</div>
                <div class="form1 form-control">1. 로그인은 어떻게 하나요?</div>
                <div class="form1">2. 회원 정보를 수정하는 방법은 무엇인가요?</div>
                <div class="form1">3. 비밀번호를 잊어버렸을 때 어떻게 처리하나요?</div>
                <div class="form1">4. 계정의 보안을 강화하는 방법을 알려주세요.</div>
            </div>
        </div>
    </div>

