

<div class="recruit-main">

    <body>
        <div class="recruit-detail ">
            <h1><strong>채용 공고 상세보기</strong></h1>




            <div class="d-flex align-row-start  d-flex justify-content-between">
                <div>
                    <div class="info-box m-3">
                        <img src="../images/company.jpg" style="max-width: 300%; height: 100%;">
                        <span>기업명</span>
                    </div>
                    <div class="info-box m-3">
                        <div>기업 정보 입력</div>
                    </div>
                </div>
                <div class="info-box2 m-3">
                    <h1>모집인원</h1>
                    <p>0명</p>
                    <h1>모집기간</h1>
                    <p>2023/09/01~2023/12/25</p>
                    <h1>연봉</h1>
                    <p>3500만원</p>
                </div>
            </div>




            <hr>

            <div class="d-flex flex-wrap">
                <div class="p-2 skill">개발 전체</div>
                <div class="p-2 skill">소프트웨어 엔지니어</div>
                <div class="p-2 skill">웹 개발자</div>
                <div class="p-2 skill">서버 개발자</div>
                <div class="p-2 skill">자바 개발자</div>
                <div class="p-2 skill">파이썬 개발자</div>
                <div class="p-2 skill">머신러닝 개발자</div>
                <div class="p-2 skill">Node.js개발자</div>
                <div class="p-2 skill">데이터 엔지니어</div>
                <div class="p-2 skill">안드로이드 개발자</div>
                <div class="p-2 skill">ios 개발자</div>
                <div class="p-2 skill">시스템, 네트워크 관리자</div>
                <div class="p-2 skill">개발 매니저</div>
                <div class="p-2 skill">기술지원 </div>
                <div class="p-2 skill">데이터 사이언티스트</div>
                <div class="p-2 skill">보안 엔지니어</div>
                <div class="p-2 skill">빅데이터 엔지니어</div>
                <div class="p-2 skill">하드웨어 엔지니어</div>
                <div class="p-2 skill">프로덕트 매니저</div>
                <div class="p-2 skill">블록체인 플랫폼 엔지니어</div>
                <div class="p-2 skill">크로스플랫폼 앱 개발자</div>
                <div class="p-2 skill">DBA</div>
                <div class="p-2 skill">PHP개발자 </div>
                <div class="p-2 skill">웹 퍼블리셔</div>
                <div class="p-2 skill">NET 개발자</div>
                <div class="p-2 skill">영상,음성 엔지니어</div>
                <div class="p-2 skill">ERP전문가 </div>
                <div class="p-2 skill">그래픽스 엔지니어</div>
                <div class="p-2 skill">CTO,Chief Technology Officier</div>
                <div class="p-2 skill">VR엔지니어</div>
                <div class="p-2 skill">BI엔지니어</div>
                <div class="p-2 skill">루비온레일즈 개발자</div>
                <div class="p-2 skill">C,C++ 개발자</div>
            </div>

            <br>


            <div class="d-flex justify-content-between">
                <div class="detail m-3">
                    <p>주요업무</p>
                </div>
                <div class="detail m-3">
                    <p>자격요건</p>
                </div>

            </div>

            <br>


            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-xl m-2">지원하기</button>
                <button type="button" class="btn btn-primary btn-xl m-2">북마크</button>
            </div>

            <hr>
        </div>

</div>




