
<div class="wrap3">
  <div class="login3">
      <h2>회원 정보 수정</h2>
      <div class="login_id">
          <h4>아이디</h4>
          <input type="email" name="" id="" placeholder="아이디를 입력하세요"  disabled>
      </div>
      <div class="login_pw">
          <h4>비밀번호</h4>
          <input type="password" name="" id="password" placeholder="비밀번호를 입력하세요">
      </div>

  
      
      <div class="join_name">
          <h4>이름</h4>
          <input type="text" name="name" id="name" placeholder="이름을 입력하세요">
      </div>
      
      <div class="join_phone">
          <h4>전화번호</h4>
          <input type="tel" name="phone" id="phone" placeholder="전화번호를 입력하세요">
      </div>
      <div class="join_email">
          <h4>Email</h4>
          <input type="email" name="email" id="email" placeholder="이메일을 입력하세요" disabled>
      </div>
      
     
      <div class="submit ">
          <input type="submit" value="수정하기" onclick="return validatePassword();">
      </div>
  </div>
</div>
<script>
  function validatePassword() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (password != confirmPassword) {
      alert("비밀번호가 일치하지 않습니다.");
      return false;
    }
    return true;
  }
</script>
